*.swp
*.swo
*.pyc
node_modules
venv
sdist
configuration.json
tangelo/MANIFEST
tangelo/README
tangelo/tangelo.egg-info
tangelo/tangelo/pkgdata/plugin/tangelo/web/tangelo.js
tangelo/tangelo/pkgdata/plugin/tangelo/web/tangelo.min.js
tangelo/tangelo/pkgdata/plugin/docs
js/tests/results
.coverage
