*.swp
*.swo
*.pyc
node_modules
venv
sdist
configuration.json
tangelo/MANIFEST
tangelo/README
tangelo/plugins/tangelo/web/tangelo.js
tangelo/plugins/tangelo/web/tangelo.min.js
tangelo/plugins/docs
js/tests/results
.coverage
