h1 {
    margin-top: 40px;
}

.brand-icon {
    vertical-align: text-bottom;
}

.brand-tagline {
    font-size: 20px;
}

.smallcaps {
    font-variant: small-caps;
}

.footer {
    margin-bottom: 100px;
}
