h1 {
    margin-top: 40px;
}

.brand-icon {
    vertical-align: text-bottom;
}

.brand-tagline {
    font-size: 20px;
}

.smallcaps {
    font-variant: small-caps;
}

.footer {
    margin-bottom: 100px;
}

.example .heading {
    margin-top: 25px;
    margin-bottom: 0px;
}

.example .subheading {
    margin-top: 0px;
    margin-bottom: 5px;
}