doctype html
head
    meta(charset="utf-8")
    title tangelo.js unit tests
    link(rel="stylesheet", href="//code.jquery.com/qunit/qunit-1.15.0.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
    script(src="/plugin/tangelo/js/tangelo.js" data-cover)
    script(src="/plugin/config/config.js" data-cover)
    script(src="/plugin/data/bin.js" data-cover)
    script(src="/plugin/data/distanceCluster.js" data-cover)
    script(src="/plugin/data/smooth.js" data-cover)
    script(src="/plugin/stream/stream.js" data-cover)

body
    div#qunit
    div#qunit-fixture
    script(src="//code.jquery.com/qunit/qunit-1.15.0.js")
    script.
        // This allows the correct coverage reporter to be used - the grunt
        // reporter if Phantom is being used to run the tests, and the default
        // HTML reporter otherwise.
        (function () {
            var phantom = window.navigator.userAgent.indexOf("PhantomJS") !== -1;
            if (phantom) {
                document.write('<script src="../../lib/blanket.js" data-cover-reporter="grunt-reporter.js"></' + 'script>');
            } else {
                document.write('<script src="../../lib/blanket.js"></' + 'script>');
            }
        }());
    - for (var i = 0; i < scripts.length; i++)
        script(src="../../#{scripts[i]}")
