/* General styling for the whole website */
body {
    font-family: 'Marcellus', Serif;
    background: #bcb;

    /* TODO(choudhury): Should "body" be centered like this by default? */
/*    text-align: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.centered {
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', Serif;
}

h1, h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

/* A rounded-corner panel for printing information */
.placard {
    /*border:1px solid black;*/
    border-radius: 10px 10px 10px 10px;

    /* TODO(choudhury): figure out how to make the element opaque, rather than
     * hard-coding a color here
     */
    background: #9a9;
}
