.nomargin {
    margin: 0;
}

.filename {
    font-family: 'Inconsolata', Monospace;
}

td {
    vertical-align: top;
}

/* Style list to be flush with top left corner of containing area.
 */
ul {
    text-align: left;
}

/* Tables should have left-justified text by default
 */
table {
    text-align: left;
}

/* These are used to indicate whether a file will be included in NER processing
 * or not.
 */
span.ok {
    color: green;
    font-weight: bold;
}

span.rejected {
    color: red;
    font-weight: bold;
}

/* Stuff for jquery slider
 */
#slider {
    margin: 5px;
    width: 80%;
}

/* These indicate the current progress of NER processing.
 */
.processing.inprogress {
    color: gray;
    font-style: italic;
}

.processing.done {
    color: black;
}

.processing.failed {
    color: red;
}

/* Error codes show up in red
 */
.error {
    color: red;
}

/* SVG directives for drawing the graph.
 */
circle.node {
    stroke: #000;
    stroke-width: 1.5px;
}

line.link {
    stroke: #000;
    stroke-opacity: 0.6;
}

/* Styling directives for axis labels
 */
.axis {
    shape-rendering: crispEdges;
    font-family: 'Source Sans Pro';
}

.y.axis line, .y.axis path, .x.axis line, .x.axis path {
    fill: none;
    stroke: #000;
}
