/* Directives for general styling - greenish background, nice serif font for
 * text, really nice serif font for headers.  *
 */
body {
    font-family: 'Marcellus', Serif;
    background: #bcb;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    font-family: 'EB Garamond', Serif;
    text-align: center;
}

h3 {
    font-family: 'EB Garamond', Serif;
    text-align: left;
}

.nomargin {
    margin: 0;
}

.filename {
    font-family: 'Inconsolata', Monospace;
}

td {
    vertical-align: top;
}

/* Style list to be flush with top left corner of containing area.
 */
ul {
    text-align: left;
}

ul.flush {
    margin: 0 0 0 1em;
    padding: 0px;
}

ul.buttons {
    list-style-type: none;
}

ul.legend {
    list-style-type: none;
}

/* Tables should have left-justified text by default
 */
table {
    text-align: left;
}

/* These are used to indicate whether a file will be included in NER processing
 * or not.
 */
span.ok {
    color: green;
    font-weight: bold;
}

span.rejected {
    color: red;
    font-weight: bold;
}

/* These indicate the current progress of NER processing.
 */
.processing.inprogress {
    color: gray;
    font-style: italic;
}

.processing.done {
    color: black;
}

.processing.failed {
    color: red;
}

/* A rounded-corner panel for printing information on
 */
.placard {
    border:1px solid black;
    border-radius: 10px 10px 10px 10px;

    /* TODO(choudhury): figure out how to make the element opaque, rather than
     * hard-coding a color here
     */
    background: #9a9;
}

/* SVG directives for drawing the graph.
 */
circle.node {
    stroke: #000;
    stroke-width: 1.5px;
}

line.link {
    stroke: #000;
    stroke-opacity: 0.6;
}
