/* General styling for the whole website */
body {
    font-family: 'Marcellus', Serif;
    background: #bcb;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* List styling */
ul.flush {
    margin: 0 0 0 1em;
    padding: 0px;
}

ul.buttons {
    list-style-type: none;
}

ul.legend {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', Serif;
}

h1, h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

/* A rounded-corner panel for printing information */
.placard {
    /*border:1px solid black;*/
    border-radius: 10px 10px 10px 10px;

    /* TODO(choudhury): figure out how to make the element opaque, rather than
     * hard-coding a color here
     */
    background: #9a9;
}

/* Monospace fonts for "data" displays. */
.data {
    font-family: monospace;
}
